<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
     <resources>
            
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Accenture_Shopfinder::manage_shop" title="Shop Finder" sortOrder="10" />
                </resource>
                
<!--                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Accenture_Shopfinder::config_shop" title="Shop Finder" />
                        </resource>
                    </resource>
                </resource>                     -->
            </resource>
            
        </resources>
        
        
<!--         <resources>
            <resource id="Accenture_Shopfinder::menu_items" title="Shop Finder">
                <resource id="Accenture_Shopfinder::menu_items_1" title="Shop Raj"/>
            </resource>
        </resources>-->
        
    </acl>
</config>
